.swipe-back-left-arrow {
  --size: 72px;
  position: fixed;
  top: calc(50vh - var(--size) / 2);
  left: -100px;
  width: var(--size);
  height: var(--size);
}

.swipe-back-left-arrow.transition {
  transition: opacity 500ms;
  opacity: 0;
}
